<!DOCTYPE html>
<html ng-app="scout">
  <head>
    <title></title>
    <meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' 'unsafe-eval'; style-src 'self' 'unsafe-inline';">
    <script src="index.js"></script>
  </head>

  <body tabindex="-1" style="width: 100%; height: 100%">
    <header ng-controller="HeaderCtrl as header">
      <select class="topcoat-select http-method-select" ng-model="header.method">
        <option value="get">GET</option>
        <option value="put">PUT</option>
        <option value="post">POST</option>
        <option value="delete">DELETE</option>
      </select>

      <input type="text" placeholder="https://"
             ng-model="header.address" ng-enter="header.sendRequest()"
             class="topcoat-text-input--large address-bar"/>


      <button class="topcoat-button--large--quiet"
              ng-disabled="header.httpSrv.inProgress"
              ng-click="header.sendRequest()">
        <i class="fa fa-send fa-lg"></i>
      </button>
    </header>
    <div class="main-container">
      <div id="request-panel-group">
        <section id="request-build-panel" ng-controller="RequestPanelCtrl as rpc">
          <div class="panel-header"><div class="panel-title">Request:</div>
            <button class="topcoat-button--cta">Headers</button>
            <button class="topcoat-button--quiet">Parameters</button>
            <button class="topcoat-button--quiet">Body</button>
            <button class="topcoat-button--quiet">Raw</button>
            <button class="topcoat-button--quiet"> <i class="fa fa-gear fa-lm"></i> </button>
          </div>
          <div class="panel-container">
            <div class="panel-body">
              <table id="request-headers-table">
               <thead>
                <tr>
                   <th width="180px">Header Name</th>
                   <th>Header Value</th>
                </tr>
               </thead>
               <tfoot>
                  <tr>
                    <td>
                      <input type="checkbox" class="table-row-fix-input-position" checked="false"/>
                      <div class="topcoat-checkbox__checkmark table-row-checkbox hidden"></div>
                      <input type="text" placeholder="Add Header"
                             ng-enter="rpc.submitHeader()" ng-model="rpc.newHeaderName"
                             class="topcoat-text-input table-row-header-name-input borderless-input">
                    </td>
                    <td>
                      <input type="text" placeholder="Add Value"
                             ng-enter="rpc.submitHeader()" ng-model="rpc.newHeaderValue"
                             class="topcoat-text-input table-row-header-value-input borderless-input"/>
                    </td>
                    <td class="action-cell">
                      <i class="fa fa-check action-btn green"
                         ng-show="rpc.newHeaderName"
                         ng-click="rpc.submitHeader()"></i>
                    </td>
                  </tr>
               </tfoot>
               <tbody>
                <tr ng-repeat="header in rpc.request.headers">
                  <td>
                    <input type="checkbox" class="table-row-fix-input-position" ng-model="header.include"/>
                    <div class="topcoat-checkbox__checkmark table-row-checkbox"></div>
                    <input type="text" class="topcoat-text-input table-row-header-name-input borderless-input" ng-model="header.name"/>
                  </td>
                  <td>
                    <input type="text" class="topcoat-text-input table-row-header-value-input borderless-input" ng-model="header.value"/>
                  </td>
                  <td class="action-cell">
                    <i class="fa fa-minus action-btn red"
                       ng-click="rpc.request.removeHeader(header.name)"></i>
                  </td>
                </tr>
               </tbody>
              </table>
            </div>
          </div>
        </section>

        <section id="request-preview-panel">
          <div class="panel-header">
              <button class="topcoat-button--cta">Collections</button>
              <button class="topcoat-button--quiet">History</button>
              <button class="topcoat-button--quiet">Cookies</button>
          </div>
          <div class="panel-container"><div class="panel-body"></div></div>
        </section>

        <div class="horizontal-resizer" id="rez"
             resizer="horizontal"
             resizer-height="1"
             resizer-min="160"
             resizer-top="#request-build-panel"
             resizer-bottom="#request-preview-panel">
        </div>
      </div>

      <section id="response-panel" ng-controller="ResponsePanelCtrl as rpc">
        <div class="panel-header"><div class="panel-title">Response:</div>
          <button class="topcoat-button--cta">Headers</button>
          <button class="topcoat-button--quiet">Body</button>
          <button class="topcoat-button--quiet">Raw</button>
        </div>
        <div class="panel-container"><div class="panel-body">
          <table id="response-headers-table">
           <thead>
            <tr>
               <th>Header Name</th>
               <th>Header Value</th>
            </tr>
           </thead>
           <tbody>
            <tr ng-repeat="header in rpc.response.headers">
              <td class="response-header-name-cell">
                {{header.name}}
              </td>
              <td class="response-header-value-cell">
                {{header.value}}
              </td>
            </tr>
           </tbody>
          </table>
        </div></div>
      </section>

      <div class="vertical-resizer"
           resizer="vertical"
           resizer-width="1"
           resizer-min="380"
           resizer-left="#request-panel-group"
           resizer-right="#response-panel">
      </div>
    </div>

    <footer ng-controller="StatusBarCtrl as statusBar">

      <response-time ms="statusBar.httpSrv.lastResponseTime"
                     ng-class="{'hidden': !ms}"></response-time>

      <response-status code="statusBar.httpSrv.response.status"
                       ng-class="{'hidden': !code}"></response-status>

      <div class="spinner" ng-show="statusBar.httpSrv.inProgress"></div>
    </footer>
  </body>
</html>
