<table id="request-params-table">
 <thead>
  <tr>
     <th width="180px">URL Parameter</th>
     <th>Value</th>
  </tr>
 </thead>
 <tfoot>
    <tr>
      <td>
        <input type="checkbox" class="table-row-fix-input-position" checked="false"/>
        <div class="topcoat-checkbox__checkmark table-row-checkbox hidden"></div>
        <input type="text" placeholder="Add Parameter"
               ng-enter="rpc.submitParam()" ng-model="rpc.newParamName"
               class="topcoat-text-input table-row-name-input borderless-input"/>
      </td>
      <td>
        <input type="text" placeholder="Add Value"
               ng-enter="rpc.submitParam()" ng-model="rpc.newParamValue"
               class="topcoat-text-input table-row-value-input borderless-input"/>
      </td>
      <td class="action-cell">
        <button class="topcoat-button--quiet action-btn"
                ng-show="rpc.newParamName"
                ng-click="rpc.submitParam()">
          <i class="fa fa-check green"></i>
        </button>
      </td>
    </tr>
 </tfoot>
 <tbody>
  <tr ng-repeat="param in rpc.request.urlParams">
    <td>
      <input type="checkbox" class="table-row-fix-input-position" ng-model="param.include"/>
      <div class="topcoat-checkbox__checkmark table-row-checkbox"></div>
      <input type="text" class="topcoat-text-input table-row-name-input borderless-input" ng-model="param.name"/>
    </td>
    <td>
      <input type="text" class="topcoat-text-input table-row-value-input borderless-input" ng-model="param.value"/>
    </td>
    <td class="action-cell">
      <button class="topcoat-button--quiet action-btn"
              ng-click="rpc.request.removeParameter(param.name)">
        <i class="fa fa-minus red"></i>
      </button>
    </td>
  </tr>
 </tbody>
</table>
