<table id="request-options-table">
 <tbody>
  <tr>
    <td class="request-options-table-header">
      Timeout:
    </td>
    <td>
      <input type="number" min="1" max="600"
             style="width: 85px"
             class="topcoat-number-input"
             placeholder="No timeout"
             ng-model="rpc.request.timeout"/>
      <span class="numeric-input-label">second(s)</span>
    </td>
  </tr>
  <tr>
    <td class="request-options-table-header">
      Redirections:
    </td>
    <td>
      <table id="redirections-option-table">
        <tbody>
          <tr><td>
            <label class="topcoat-switch">
              <input type="checkbox"
                     class="topcoat-switch__input"
                     ng-model="rpc.request.followRedirect">
              <div class="topcoat-switch__toggle"></div>
            </label>
            <span class="switch-label">Follow redirects</span>
          </td></tr>
          <tr><td>
            <input type="number" min="1" max="20"
                   placeholder="10"
                   style="width: 46px"
                   class="topcoat-number-input"
                   ng-model="rpc.request.maxRedirects"/>
            <span class="numeric-input-label">maximum redirects</span>
          </td></tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td class="request-options-table-header">Authorization: </td>
    <td>
      <table id="authorization-option-table">
        <tbody>
          <tr><td>
            <button class="topcoat-button" ns-popover
                    ns-popover-template="templates/popover-basic-auth-settings.html"
                    ns-popover-theme="ns-popover-tooltip-theme" ns-popover-timeout="-1"
                    ns-popover-trigger="click" ns-popover-placement="bottom">Set HTTP Basic Auth</button>
          </td></tr>
          <tr><td>
            <button class="topcoat-button" disabled="true">Set OAuth 1</button>
            <button class="topcoat-button" disabled="true">Set OAuth 2</button>
          </td></tr>
        </tbody>
      </table>
    </td>
  </tr>
 </tbody>
</table>
