
@row-line-height: 2em;
@type-icon-font-size: 1em;
@type-letter-icon-font-size: .9em;

.autocomplete {
  display: inline-block;
}

.autocomplete-holder {
  position: relative;
}

.autocomplete-dropdown {
  background-color: @dropdown-background-color;
  border: 1px solid @component-border-color;
  border-radius: @component-border-radius;
  box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.3);
  min-width: 200px;
  max-width: 800px;
  z-index: 10;
  position: fixed;
  margin-top: 2px;
}

.autocomplete-hint-list {
  z-index: 11;
  overflow-y: auto;
  max-height: 265px;
}

#hint-description {
  padding: 5px 0;
  padding-left: 0.6em;
  padding-right: 0.6em;
  min-height: @row-line-height;
  max-height: 150px;
  overflow-y: auto;
  line-height: 1.3;
  background: @hint-description-background-color;
  border-top: 1px solid @component-border-color;
  border-radius: 0 0 3px 3px;

  #hint-description-content {
    font-family: @font-family;
    font-size: 14px;
  }

  #hint-description-more-link {
    font-family: @font-family;
    font-size: 14px;
    display: inline;
  }
}

.hint-row {
  line-height: @row-line-height;
  color: @text-color;
  margin-bottom: 0px;
  clear: both;
  cursor: pointer;
  white-space: nowrap;

  .hint-icon-container {
    float: left;
    width: @row-line-height;
    padding-left: 0;
    padding-right: .75em;

    &:empty {
      width: 2.6em;
      padding: 1px;
    }
  }

  .hint-icon {
    display: block;
    width: @row-line-height;
    line-height: @row-line-height;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    color: @hint-icon-text-color;
    background: fadeout(@hint-icon-background-color, 90%);

    > *::before {
      font-size: @type-icon-font-size;
      width: @type-icon-font-size;
      height: @type-icon-font-size;
    }

    .hint-icon-letter {
      // I'm failing to vert center these letters. So shift them up...
      position: relative;
      top: -.1em;
      font-weight: bold;
      font-size: @type-letter-icon-font-size;
      font-family: @font-family-monospace;
      line-height: @type-letter-icon-font-size;
    }
  }

  .make-type-icon(h-builtin-header, @ui-color-15);
  .make-type-icon(xh-user-header, @ui-color-16);
  .make-type-icon(ct-content-type, @ui-color-8);

  .make-type-icon(pl-placeholder-1, @ui-color-1);
  .make-type-icon(pl-placeholder-2, @ui-color-2);
  .make-type-icon(pl-placeholder-3, @ui-color-3);
  .make-type-icon(pl-placeholder-4, @ui-color-4);
  .make-type-icon(pl-placeholder-5, @ui-color-5);
  .make-type-icon(pl-placeholder-6, @ui-color-6);
  .make-type-icon(pl-placeholder-7, @ui-color-7);
  .make-type-icon(pl-placeholder-8, @ui-color-8);
  .make-type-icon(pl-placeholder-9, @ui-color-9);
  .make-type-icon(pl-placeholder-10, @ui-color-10);
  .make-type-icon(pl-placeholder-11, @ui-color-11);
  .make-type-icon(pl-placeholder-12, @ui-color-12);
  .make-type-icon(pl-placeholder-13, @ui-color-13);
  .make-type-icon(pl-placeholder-14, @ui-color-14);
  .make-type-icon(pl-placeholder-15, @ui-color-15);
  .make-type-icon(pl-placeholder-16, @ui-color-16);
  .make-type-icon(pl-placeholder-17, @ui-color-17);
}

.autocomplete-selected-row {
  background-color: @background-color-selected;
}

.hint-title {
  font-family: @font-family-monospace;
  color: @hint-title-text-color;

  .highlight {
    color: @hint-title-highlight-color;
    font-weight: bold;
  }
}

.xscrollfix {
  height: 0px;
  padding-left: 50px;
  visibility: hidden;
  font-family: @font-family-monospace;
}

.make-type-icon(@type, @color) {
  .hint-icon.@{type} {
    color: @color;
    background: fadeout(@color, @ui-background-fadeout);
  }
}
