@import "styles/topcoat-desktop-dark.css";
@import "styles/fonts.css";

html, body {
  margin:0;
  padding:0;
  height: 100%;
}

body {
  font-family: "Source Sans Pro";
  position: relative;
  color: #F0F1F1;
  background: #4A4D4E;
}

.bordered-section {
  border-right: 1px solid #333434;
  border-top: 1px solid #333434;
}

section.response-panel {
  margin-left: 50%;
  height: 100%;
  .bordered-section;
}

section.request-build-panel {
  float: left;
  width: 50%;
  height: 60%;
  .bordered-section;
}

section.request-preview-panel {
  float: left;
  width: 50%;
  height: 40%;
  .bordered-section;
}

.main-container {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: #454646;
}

.panel-header {
  padding: 4px 20px;
  font-size: 0.9em;
  font-weight: 400;
  background-color: #3f4041;
  color: #c6c8c8;
  text-shadow: 0 1px 0 rgba(255,255,255,0.1);
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(255,255,255,0.05);

  .topcoat-button--quiet {
    vertical-align: baseline;
  }
}

.panel-container {
  border-top: 1px solid #333434;
  color: #c6c8c8;
}

.panel-body {
  padding: 0.75rem;
  border-top: 1px solid rgba(0,0,0,0.05);
}

.clearfix {
  overflow: auto;
}

.panel-header-buttons {
  width: 100%;
  text-align: center;
}

.http-method-select {
  font-weight: 500;
  font-size: 14px;
  height: 1.80rem;
}

header {
  text-align: center;
  padding: 7px 20px;
  width: 88%;

  .topcoat-select {
    vertical-align: baseline;
  }
}

.address-bar {
  width: 67%;
}

.http-code-base(@bgcolor) {
  background-color: @bgcolor;
  border: 1px solid #333434;
  vertical-align: baseline;
  float: right;
}

.info-code {
  .http-code-base(#78909C);
}

.success-code {
  .http-code-base(#4CAF50);
}

.redirection-code {
  .http-code-base(#2196F3);
}

.client-error-code {
  .http-code-base(#F44336);
}

.server-error-code {
  .http-code-base(#673AB7);
}
