
@app-header-height: 43px;
@app-statusbar-height: 30px;
@app-body-padding: 7px;
@request-secondary-panel-height: 200px;
@request-panel-group-width: 450px;
@resizer-line-tickness: 1px;
@resizer-line-thumb: 3px;

#request-build-panel {
  position: absolute;
  top: 0;
  bottom: @request-secondary-panel-height + @resizer-line-tickness;
  left: 0;
  right: 0;
  overflow: auto;
  z-index: 2;
  border-right: 1px solid @component-border-color;
}

#request-preview-panel {
  position: absolute;
  height: @request-secondary-panel-height;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  border-right: 1px solid @component-border-color;
}

#request-panel-group {
  position: absolute;
  width: @request-panel-group-width;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

#response-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: @request-panel-group-width + @resizer-line-tickness;
  right: 0;
  overflow: auto;
}

#request-body-select-type {
  padding-top: 5px;
  text-align: center;
}

#request-body-content {
  position: absolute;
  padding-left: @component-padding;
  padding-right: @component-padding;
  top: 30px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.main-container {
  position: absolute;
  bottom: @app-statusbar-height;
  right: @app-body-padding;
  left: @app-body-padding;
  top: @app-header-height;
  overflow: hidden;
  background-color: @default-background-color;
  border: 1px solid @component-border-color;
}

.panel-header {
  height: 23px;
  padding: 4px 20px;
  font-weight: 400;
  text-align: right;
  background-color: @component-header-background-color;
  color: @component-header-text-color;
  text-shadow: 0 1px 0 rgba(255,255,255,0.1);
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(255,255,255,0.05);

  .topcoat-button--quiet {
    vertical-align: baseline;
    margin-left: 3px;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .topcoat-button--cta {
    vertical-align: baseline;
    opacity: 1.0;
    margin-left: 3px;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

.panel-title {
  padding-top: 0.17rem;
  font-size: 14px;
  float: left;
}

.panel-header-buttons {
  width: 100%;
  text-align: center;
}

.panel-container {
  border-top: 1px solid @component-border-color;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 33px;
  overflow: auto;
}

.panel-body {
  padding-right: @component-body-padding;
  padding-left: @component-body-padding;
  padding-bottom: @component-body-padding;
  border-top: 1px solid rgba(0,0,0,0.05);
}

.vertical-resizer {
  position: absolute;
  width: @resizer-line-thumb;
  top: 0;
  bottom: 0;
  left: @request-panel-group-width;
	background-color: transparent;
  cursor: e-resize;
}

.horizontal-resizer {
  position: absolute;
  height: @resizer-line-thumb;
  bottom: @request-secondary-panel-height;
  left: 0;
  right: 0;
  background-color: transparent;
  border-bottom: 1px solid @component-border-color;
  cursor: n-resize;

}
