@import "ui-variables";

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  font-size: 13px;
  border-bottom: 1px solid #323434;
}

#request-headers-table > tbody > tr:first-child > td {
  padding-top: 2px;
}

#response-headers-table > tbody > tr:first-child > td {
  padding-top: 6px;
}

#request-options-table > tbody > tr:first-child > td {
  padding-top: 6px;
}

#request-options-table > tbody > tr:first-child > td.request-options-table-header {
  padding-top: 9px;
}

#request-options-table > tbody > tr > td {
  padding-bottom: 4px;
}

#redirections-option-table > tbody > tr > td {
  padding-bottom: 4px;
}

th {
  padding: 5px;
  color: #797979;
}

td {
  padding: 0px 2px;
}

.table-row-checkbox {
  vertical-align: middle;
  //margin-right: 3px;
}

input[type="checkbox"].table-row-fix-input-position {
  vertical-align: middle;
  margin-top: 4px;
}

tfoot .table-row-header-name-input::-webkit-input-placeholder {
  font-style: italic;
}

tfoot .table-row-header-value-input::-webkit-input-placeholder {
  font-style: italic;
}

.table-row-header-name-input {
  vertical-align: middle;
  width: 88%;
}

.table-row-header-value-input {
  vertical-align: middle;
  width: 98%;
}

.request-options-table-header {
  vertical-align: top;
  text-align: right;
  font-weight: 500;
  padding-right: 10px;
  padding-top: 2px;
}

.borderless-input {
  border: 1px solid #454646;
  box-shadow: none;
  padding: 0 0.313rem;
  text-overflow: ellipsis;
}

.borderless-input:focus {
  border: 1px solid #323434;
  box-shadow: none;
}

.action-cell {
  padding: 0px 3px 0px 0px;
  width: 15px;
  text-align: center;
}

.response-header-name-cell {
  font-weight: bold;
  .response-header-value-cell;
}

.response-header-value-cell {
    font-size: 12px;
    padding: 0.3rem 6px;
}
