@import "ui-variables";

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  font-size: 13px;
  border-bottom: 1px solid #323434;
}

th {
  padding: 5px;
}

td {
  padding: 0px 2px;
}

.table-row-checkbox {
  vertical-align: middle;
  //margin-right: 3px;
}

input[type="checkbox"].table-row-fix-input-position {
  vertical-align: middle;
  margin-top: 4px;
}

.table-row-header-name-input {
  vertical-align: middle;
  width: 88%;
}

.table-row-header-value-input {
  vertical-align: middle;
  width: 98%;
}

.borderless-input {
  border: 1px solid #454646;
  box-shadow: none;
  padding: 0 0.313rem;
}

.borderless-input:focus {
  border: 1px solid #323434;
  box-shadow: none;
}
