
// Colors

@text-color: #F0F1F1;

@text-color-info: #5293d8;
@text-color-success: #1fe977;
@text-color-warning: #f78a46;
@text-color-error: #c00;

@background-color-info: #0098ff;
@background-color-success: #17ca65;
@background-color-warning: #ff4800;
@background-color-error: #c00;
@background-color-highlight: rgba(255, 255, 255, 0.10);
@background-color-selected: @background-color-highlight;

@app-background-color: #4A4D4E;

@default-background-color: #454646;
@default-hover-background-color: #595b5b;

@http-unknown-code-color: #E6C195;
@http-info-code-color: #78909C;
@http-success-code-color: #4CAF50;
@http-redirect-code-color: #2196F3;
@http-client-error-code-color: #F44336;
@http-server-error-code-color: #934BED;

// Sizes

@font-size: 12px;

@disclosure-arrow-size: 12px;

@component-padding: 10px;
@component-icon-padding: 5px;
@component-icon-size: 16px;
@component-line-height: 25px;
@component-border-radius: 2px;
@component-border-color: #333434;
@component-body-padding: 0.75rem;

// Other
@font-family: "Source Sans Pro";
@font-family-monospace: "Source Code Pro";
